.hamburger {
  background: url(~images/content/bg-burger.png) top left no-repeat;
  background-color: #fff;
  padding-top: 50px;
  height: 100vh;
}

.hamburger__container {
  display: flex;
  justify-content: space-between;
}

.hidden {
  /* left: -9999px; */
  display: none;
}