.hamburger {
  background: url(~images/content/bg-burger.png) top left / cover no-repeat;
  background-color: #fff;
  height: 100vh;
  position: relative;

  @include phones {
    background: #fff;
  }
}

.hamburger__container {
  display: flex;
  justify-content: space-between;
}

.hamburger__col {
  padding-top: 75px;

  @include phones {
    display: none;
  }
}

.hidden {
  display: none;
}