.hamburger {
  background: url(~images/content/bg-burger.png) top left no-repeat;
  background-color: #fff;
  padding-top: 50px;
  height: 100vh;

  @include phones {
    background: #fff;
  }
}

.hamburger__container {
  display: flex;
  justify-content: space-between;
}

.hamburger__col {

  @include phones {
    display: none;
  }
}

.hidden {
  left: -9999px;
  display: none;
}