.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 62px;
}

.header__menu {

  @include tablets {
    display: none;
  }
}

.header__socials {

  @include tablets {
      padding-left: 35%;
    }
}

.logo {
  width: 48px;
  height: 26px;
  font-size: 36px;
  font-weight: 800;
  line-height: 30px;
  margin-right: 16px;
}