.menu {
    width: 427px;
}

.menu__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.menu__item {
    position: relative;

    &:hover {
        color: #FF9A00;
        transition: 0.5s;
    }
}