.quote__img-wrapper {
  margin-right: 20px;
}

.quote__img {
  width: 75px;
  height: 63px;
  fill: #ffffff;
  opacity: 0.05; 
}

.quote__text {
  opacity: 0.5;
  line-height: 30px;
  margin-bottom: 30px;
  position: relative;
  padding-right: 18%;
  min-height: 120px;

  /* &:before {
    position:absolute;
    content: '"';
    top:0;
    left:0;
    font-size: 278px;
  } */
}

.quote__user {
  display: flex;
  align-items: center;
  
}