.slider{
    position: relative;
    height: 550px;
}

.slider__preview {
    height: 100%;
}

.slider__preview-item {
    height: 100%;
}

.slider__preview-img {
    overflow: hidden;
    object-fit: cover;
}

.slider__all {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right:0;
    bottom: 5%;
}

.slider__all-item {
    width: 178px;
    height: 100px;
}
