.tags {
    display: flex;
    margin-bottom: 35px;
}

.tags__item {
    font-size: 15px;
    background-color: #F3F6F9;
    opacity: 0.7;
    border-radius: 35px;
    padding: 15px 20px;
    margin-right: 10px;
    color: #2f3642;
    

    &last-child {
        margin-right: 0;
    }
}