.user-display__avatar-wrapper {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
}

.user-display__pic {
  max-height: none;
}

.user-display__avatar {
  margin-right: 30px;
}

.user-display__name {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}

.user-display__occ {
  opacity: 0.3;
}