@mixin phones() {
  @media screen and (max-width: $bp-phones) {
    @content;
  }
}

.skill-component {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  color: #373E42;
  margin-bottom: 13px;

  .buttons {
    margin-left: 75px;

    @include phones {
      margin-left: 50px;
    }
  }
}

.percentage {
  margin-left: auto;
  color: #414C63;
}

.btn {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}