script(type="text/x-template")#projects-container
  .projects__wrapper(v-if="isDownloaded")
    display(
      :currentProject='currentProject',
      :projects='projects',
      :currentNumber='currentNumber',
      @slide="slide"
    )
    description(
      :currentProject='currentProject'
    )
  div(v-else) Loading

script(type="text/x-template")#projects-display
  .projects__slider.slider
    ul.slider__preview(:data-slide="currentNumber + 1")
      li.slider__preview-item
        img(:src="currentProject.photo", alt="work preview").slider__preview-img
        previews(
          :projects='limitSliderLength',
          :currentProject='currentProject'
        )
        btns(
          @slide="$emit('slide', $event)"
        )
           
script(type="text/x-template")#projects-previews
  ul.slider__all
    li.slider__all-item(
      v-for='project in projects' :key='project.id'
      :class='{active: currentProject.id === project.id}'
    )
      button.slider__all-link(href='#')
        img(:src="project.photo", alt="work preview").slider__all-img
        

script(type="text/x-template")#projects-btns
  .slider__btns
    button(
      type='button' 
      @click="$emit('slide', 'next')"
    ).square-btns__item.square-btns__item--next  
    button(
      type='button' 
      @click="$emit('slide', 'prev')"
    ).square-btns__item.square-btns__item--prev 

script(type="text/x-template")#projects-content
  .projects__content
    tags( 
      :tags="currentProject.techs"
      
    )
    h3.projects__school {{currentProject.title}}
    .projects__text
      p {{currentProject.description}}
    a.projects__link(:href="currentProject.link" target="_blank")
      +icon('link', 'projects__link-img', alt='link icon') 
      span.projects__link-text Посмотреть сайт

script(type="text/x-template")#projects-tags
  ul.tags.projects__tags
    li.tags__item(v-for='tag in tags')
      .tag {{tag}}
       