script(type="text/x-template")#slider-container
  .reviews__slider
    .reviews__header
      .reviews__title Что обо мне говорят
      .reviews__slider-btns
        button(
          type='button'
          @click="slide('left')"
        ).round-btn.round-btn--left 
        button(
          type='button'
          @click="slide('right')"
        ).round-btn.round-btn--right 
    swiper(ref="slider" :options="sliderOptions")
      swiper-slide(v-for='review in reviews' :key='review.id')
        .quote
          .quote__img-wrapper
            +icon('quote', 'quote__img', alt='quite icon') 
          .quote__info
            .quote__text
              p {{review.quote}}
            .quote__user 
              .user-display__avatar
                .user-display__avatar-wrapper
                  img(:src="review.img", alt="user avatar").user-display__pic
              .user-display__data
                .user-display__name {{review.name}}
                .user-display__occ {{review.occ}}