section.about
      .container.about__container
        .about__wrapper
          .about__info
            .about__img-wrapper
              +image('content/user.jpg', 'about__img')
            .about__column
              .about__row
                span.about__label Проживаю:
                span.about__value Новосибирск
              .about__row
                span.about__label Возраст:
                span.about__value 27 лет
              .about__row
                span.about__label Родился:
                span.about__value 1 января 1991
          .about__content
            .about__hi Привет, меня зовут
            h2.about__name Владимир Астаханов
            .about__me
              p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            .about__text
              p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!