extends ./main.layout.pug

block content
  .welcome
    include ./sections/hero
    include ./sections/about
  include ./sections/skills
  section.projects
    .container.projects__container
      h2.projects__title Мои работы
      .projects__wrapper
        .projects__slider.slider
          ul.slider__preview(data-slide="1")
            li.slider__preview-item
              +image('content/slider-1.jpg', 'slider__preview-img')
              .slider__btns
                button(type='button').square-btns__item.square-btns__item--next  
                button(type='button').square-btns__item.square-btns__item--prev  
              ul.slider__all
                li.slider__all-item
                  a.slider__all-link(href='#')
                    +image('content/slider-1.jpg', 'slider__all-img')
                li.slider__all-item
                  a.slider__all-link(href='#')
                    +image('content/slider-2.jpg', 'slider__all-img')
                li.slider__all-item
                  a.slider__all-link(href='#')
                    +image('content/slider-3.jpg', 'slider__all-img')
                li.slider__all-item
                  a.slider__all-link(href='#')
                    +image('content/slider-4.jpg', 'slider__all-img')
                 
        .projects__content
          ul.tags
            li.tags__item HTML
            li.tags__item CSS 
            li.tags__item Javascript       
          h3.projects__school Сайт школы образования
          .projects__text
            p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
          a.projects__link(href="http://loftschool.com" target="_blank")
            +icon('link', 'projects__link-img') 
            span.projects__link-text Посмотреть сайт
  section.reviews
    .container  
      .reviews__slider
        .reviews__header
          .reviews__title Что обо мне говорят
          .reviews__slider-btns
            button(type='button').round-btn.round-btn--left 
            button(type='button').round-btn.round-btn--right 
        ul.reviews__slider-content
          li.reviews__slider-item
            .quote
              +icon('quote', 'quote__img') 
            .quote__wrapper
              .quote__text
                p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
              .quote__user 
                .user-display__avatar
                  .user-display__avatar-wrapper
                    +image('content/d.png', 'user-display__pic')
                .user-display__data
                  .user-display__name Ковальчук Дмитрий
                  .user-display__occ Основатель Loftschool
          li.reviews__slider-item
            .quote
              +icon('quote', 'quote__img') 
            .quote__wrapper
              .quote__text
                p Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт #[br]на слишком старых браузерах
              .quote__user 
                .user-display__avatar
                  .user-display__avatar-wrapper 
                    +image('content/v.png', 'user-display__pic')
                .user-display__data
                  .user-display__name Владимир Сабанцев
                  .user-display__occ Преподаватель
  include ./sections/footer