extends ./main.layout.pug

block content
  .welcome
    include ./sections/hero
    include ./sections/about
  include ./sections/skills
  include ./sections/projects
  include ./sections/reviews
  include ./sections/footer