extends ./main.layout.pug

block content
  .welcome

    .hamburger.hidden
      .container.hamburger__container
        .hamburger__col
          a.logo(href='#') JA
        .popup
          button.popup__btn 
            +icon('cross', 'popup__btn-img', alt='close')

          nav.popup__menu.menu
            ul.menu__list
              li.menu__item
                a.menu__link(href='#') Main
              li.menu__item
                a.menu__link(href='#about') About me
              li.menu__item
                a.menu__link(href='#skills') Skills
              li.menu__item
                a.menu__link(href='#ux') UX 
              li.menu__item
                a.menu__link(href='#frontend') Frontend

          .header__socials.socials.socials--theme--dark
            ul.socials__list
              li.socials__item
                a.socials__link(href='#')
                  +icon('insta', 'socials__img', alt='instagram')
              li.socials__item
                a.socials__link(href='#')
                  +icon('vk', 'socials__img', alt='vkontakte')
              li.socials__item
                a.socials__link(href='https://github.com/JuliaStP')
                  +icon('github', 'socials__img', alt='github')
              li.socials__item
                a.socials__link(href='mailto:andreeva_julia@hotmail.com')
                  +icon('envelope', 'socials__img', alt='mail')

    section.hero
      .container.hero__container
        header.header
          a.logo(href='#') JA
          nav.header__menu.menu
            ul.menu__list
              li.menu__item
                a.menu__link(href='#about') About me
              li.menu__item
                a.menu__link(href='#skills') Skills
              li.menu__item
                a.menu__link(href='#ux') UX
              li.menu__item
                a.menu__link(href='#frontend') Frontend
          .header__socials.socials 
            ul.socials__list
              li.socials__item.socials__item--in
                a.socials__link(href='#')
                +icon('insta', 'socials__img', alt='instagram')
              li.socials__item.socials__item--vk
                a.socials__link(href='#')
                +icon('vk', 'socials__img', alt='vkontakte')
              li.socials__item.socials__item--git
                a.socials__link(href='#')
                +icon('github', 'socials__img', alt='github')
              li.socials__item.socials__item--mail
                a.socials__link(href='#')
                +icon('envelope', 'socials__img', alt='mail')

          a.burger(href="#")
            span.burger__line
            span.burger__line
            span.burger__line
        
        .hero__title
          .hero__site-name UX Designer #[br] Frontend Developer
          .hero__name Julia Andreeva
       
        .hero__scroll
          a(href='#about' title='scroll down').hero__scroll-btn Let's go
            +icon('scroll', 'hero__scroll-img', alt='scroll') 
    section#about.about.section.fullscreen-section(data-section-id='about')
      .container.about__container
        .about__wrapper
          .about__info
            .about__img-wrapper
              +image('content/user-1.jpg', 'about__img', alt='avatar')
            .about__column
              .about__row
                span.about__label I am from:
                span.about__value Saint Petersburg
              .about__row
                span.about__label My age:
                span.about__value 90s baby
              .about__row
                span.about__label My hobby:
                span.about__value Salsa
          .about__content
            .about__hi Hi 👋, my name is
            h2.about__name Julia Andreeva 
            .about__me
              p I am just starting my journey in Web Development. I am passionate about UX and Frontend - interesting design and clean code.
            .about__text
              p I've developed this portfolio site while attending coding bootcamp. I keep adding my projects here as I go. Meanwhile check my portfolio!
  section#skills.section.skills(data-section-id='skills')
    .container.skills__container
      .skills__intro
        h3.skills__title How can I help you.
        .skills__text
          p If you are looking for a junior ux designer with frontend developer experience, I would be a perfect fit. I am willing to learn new technologies, responsible and fun to work with. Reach out to me, if you are interested.
      .skills__tech
        #skills-component
        

  section#frontend.section.projects(data-section-id='frontend')
    .container.projects__container
      h2.projects__title My projects - Frontend
      #projects-component

  section#ux.section.projectsux(data-section-id='ux') 
    .container.projects__container
      h2.projectsux__title My projects - UX
      #projects-component    

  section.reviews
    .container
      #slider-component
      
  footer.footer
    .container.footer__container
      .footer__copyright
        .footer__copyright-col
          .footer__copyright-year &copy;2022
        .footer__info
          .footer__name Julia Andreeva
          .footer__site UX Designer #[br] Frontend Developer
      .footer__main
        .menu.footer__menu
            ul.menu__list
              li.menu__item
                a.menu__link(href='#about') About me
              li.menu__item
                a.menu__link(href='#skills') Skills
              li.menu__item
                a.menu__link(href='#ux') UX
              li.menu__item
                a.menu__link(href='#frontend') Frontend
        .footer__content
          .footer__col
            .footer__text
              p I've developed this portfolio, while attending coding bootcamp - Loftschool
          
            .socials 
              ul.socials__list
                li.socials__item.socials__item--footer
                  a.socials__link(href='#')
                    +icon('insta', 'socials__img', alt='instagram')
                li.socials__item.socials__item--footer
                  a.socials__link(href='#')
                    +icon('vk', 'socials__img', alt='vkontakte')
                li.socials__item.socials__item--footer
                  a.socials__link(href='https://github.com/JuliaStP')
                    +icon('github', 'socials__img', alt='github')
                li.socials__item.socials__item--footer
                  a.socials__link(href='mailto:andreeva_julia@hotmail.com')
                    +icon('envelope', 'socials__img', alt='mail')
            
          .footer__quote 
            .footer__quote-text
              p Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live.
            span.footer__quote-author Martin Golding