include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- link(rel="icon" type="image/svg" sizes="96x96" href="./images/content/JA.svg")
    //- link(rel="manifest" href="./favicon/manifest.json")
    //- meta(name="msapplication-TileColor" content="#ffffff")
    title Portfolio | main page

  body
    .wrapper
      .maincontent
        block content

    include ./templates/entry.pug